# vi: ft=bash

# Ensure direnv has source_url support.
if ! direnv_version 2.23.0; then
    echo "Please update direnv to at least v2.23.0"
    exit 1
fi

# Ensure and download a common nix-direnv version to unify installs.
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

use flake
