# Direnv holds its local state in this folder
.direnv

# Precommit is managed through Nix, do not check in local version into git
.pre-commit-config.yaml

# -- Nix.gitignore --

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*
